
$colors-primary-100: hsl(0, 14%, 93%);
$colors-primary-200: hsl(0, 0%, 97%);
$colors-primary-400: hsl(239, 57%, 42%);
$colors-primary-900: hsl(238, 89%, 30%);

$colors-accent-400: #ff6635;
$colors-accent-500: #dd4e11;

