
$size-100: 0.25rem;
$size-200: 0.5rem;
$size-300: 0.75rem;
$size-400: 1rem;
$size-500: 1.25rem;
$size-600: 1.5rem;
$size-700: 2rem;
$size-800: 2.5rem;
$size-900: 3rem;
$size-950: 3.5rem;
$size-1000: 62.5rem;
$size-1100: 68.75rem;


