@use '../abstracts/' as *;

button {
    background: $colors-accent-500;
    color: $colors-primary-200;
    font-size: $size-500;
    font-weight: $font-weight-700;
    padding: $size-200 $size-300;
    border: none;
    border-radius: $size-200;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover, button:focus {
    background: $colors-accent-400;
    text-decoration: underline;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transition: 300ms ease;
}